<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alittlescene.flipbooks" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNoTitleBar" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Title_1"
            android:theme="@style/AppThemeNoTitleBar" >
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login_screen"
            android:parentActivityName=".Title_1"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alittlescene.flipbooks.Title_1" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".SignUpScreen"
            android:label="@string/title_activity_sign_up_screen"
            android:parentActivityName=".Title_1"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alittlescene.flipbooks.Title_1" />
        </activity>
        <activity
            android:name=".StartProject"
            android:label="@string/title_activity_start_project" >
        </activity>
        <activity
            android:name=".MaskActivity"
            android:label="@string/title_activity_mask" >
        </activity>
        <activity
            android:name=".RecordingActivity"
            android:label="@string/title_activity_recording" >
        </activity>
        <activity
            android:name=".CameraPreview"
            android:label="@string/title_activity_temp_camera_preview" >
        </activity>
        <activity
            android:name=".PlayActivity"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name=".LogoActivity"
            android:label="@string/title_activity_logo" >
        </activity>
        <activity
            android:name=".SelectImageActivity"
            android:label="@string/title_activity_select_image" >
        </activity>
    </application>

</manifest>
